body {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.query-container {
  margin: 20px;
  width: 200px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.results {
  border: 1px solid #ccc;
  border-top: 0;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

.result {
  cursor: pointer;
  padding: 5px;
}
.result:hover,
.result:focus,
.result:active {
  background-color: #eee;
}

#container {
  display: flex;
}

input {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  width: 100%;
}
